* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Gabarito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.navbar {
    display: flex;
    justify-content: space-between;
    border-bottom: solid 1px black;
    padding: 10px;
    align-items: center;
    gap: 10px;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 3;
    cursor: pointer;
}

.navbar__s1__title {
    color: #9B41D5;
}

.navbar__s2 {
    border: solid 1px black;
    width: 60%;
    border-radius: 20px;
    padding: 10px;
}

.navbar__s2__input {
    width: 60%;
    border: none;
    background-color: transparent;
}

.navbar__s2__input:focus {
    outline: none;
}

.navbar__s3 {
    display: flex;
    gap: 20px;
}

.navbar__1 {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    border-bottom: solid 1px black;
    margin-bottom: 10px;
}

.navbar__1__menu__1 {
    background-color: #9B41D5;
    padding: 15px;
    border-radius: 30px;
    color: white;
    text-align: center;
}

.title__image img {
    width: 100%;
    position: relative;
    z-index: 1;
}

.recommed__section {
    margin-top: 10px;
    padding: 10px;
}

.course__card img {
    width: 100%;
    height: 300px;
}

.course__card {
    width: 400px;




}

.recommed__container {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    padding: 20px;
    flex-wrap: wrap;
    gap: 10px;
}

.topics__container p {
    border: gray 2px solid;
    padding: 10px;
    flex-grow: 1;
    flex-basis: 25%;

}

.topics__container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 10px;
}

.popular {
    margin-top: 10px;
    padding: 20px;

}

.popular__container {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    flex-wrap: wrap;

}

.footer__one {
    display: flex;
    gap: 30px;
}

.footer {
    background-color: black;
    color: white;
    margin-top: 10px;
    padding: 10px;
    border-bottom: solid 5px white;
}

.footer__two {
    margin-top: 20px;
}

.footer__one p,
.footer__two p {
    margin-top: 10px;
}

.navbar__1__menu__1:hover {
    background-color: #c58bec;
    color: #8c13dd;
    width: 180px;
    transition: 10s;
}

.course-card__button {

    padding: 10px;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.course-card__button1,
.course-card__button2 {
    background-color: transparent;
    padding: 5px;
    color: #8c13dd;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 10px;
    border-radius: 5px;
}

.course-card__button1:hover {
    background-color: #8c13dd;
    color: white;
    transition: 1s;
}

.course-card__button2:hover {
    background-color: #8c13dd;
    color: white;
    transition: 1s;
}

.title__image__offers {
    border: solid 2px black;
    width: 600px;

    position: absolute;
    z-index: 2;
    background-color: transparent;
    bottom: 50%;
    left: 10%;
    padding: 20px;

}

.title__image__offers p {
    margin-top: 10px;
    font-size: 30px;
    display: flex;
    flex-wrap: wrap;
}

.title__image {
    position: relative;
    z-index: 1;
}

.mylearning {
    position: relative;
}

.mylearning__popup {
    position: absolute;
    background-color: white;
    color: black;
    width: 100px;
    border: 1px solid black;
    padding: 10px;
    right: 0;
    top: 25px;
    display: none;
    border-radius: 10px;
}

.mylearning:hover {
    .mylearning__popup {
        display: block;
      transition: 5s;
    }
    transition: 5s;
}